body {
    margin: 0;
    padding: 16px; 
    box-sizing: border-box;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; 
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;  
}

.galeria img {
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    border-radius: 12px; 
    width: 100%;
}

@media (max-width: 599px) {
    .galeria img{
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 839px) {
    .galeria img {
        width: calc(50% - 8px);
    }
}

@media (min-width: 840px) {
    .galeria img {
        width: calc(33.33% - 8px);
        max-width: 300px;
    }
}

.galeria img:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 15px rgb(1, 110, 65);
}
