body {
    margin: 0;
    padding: 16px; 
    box-sizing: border-box;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; 
    justify-content: center;
}

.galeria img {
    width: 100%;
    border-radius: 12px; 
}

@media (max-width: 599px) {
    .galeria img{
        max-width: 100%;
    }
}